html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#header {
  padding: 16px;
  text-align: start;
}

.team-marker-bg {
  background: rgba(255,255,255,0.5);
  padding: 4px;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: background 0.2s;
  cursor: pointer;
}

.team-marker-bg:hover {
  background: rgba(255,255,255,0.9);
}

.team-marker-playing img {
  background: none !important;
  border-radius: 50%;
}

.team-marker-playing {
  background: rgba(255,255,255,0.5) !important;
}

.team-marker-time {
  font-size: 13px;
  color: #222;
  margin-top: 2px;
  text-align: center;
  font-weight: bold;
  background: rgba(255,255,255,0.8);
  border-radius: 8px;
  padding: 1px 4px;
}
